@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600&family=Old+Standard+TT:wght@400;700&display=swap");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* Variables */
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-primary: #1a8fe3;

  --main-ai-color: #353740;
  --heading-ai-color: #202123;
  --letter-ai-color: #42434c;
  --heading-font: "Old Standard TT", serif;
  --letter-font: "Cormorant", serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin: 15px auto 0;
  font-weight: 550;
  transition: all 0.2s ease-in;
}

h2 {
  font-size: 2.2em;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 10px;
  transition: all 0.2s ease-in;
}

h3 {
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
  transition: all 0.2s ease-in;
}

h1,
h2,
h3 {
  color: var(--heading-ai-color);
  font-family: var(--heading-font);
}

p,
a {
  font-family: var(--letter-font);
  color: var(--letter-ai-color);
}

li {
  list-style-type: none;
}
